<div class="inner">

  <div id="left_closer_holder">
  
    <span id="left_closer" onclick="closeNavLeft()">
      {% render 'icon-close' %}
    </span>
  </div>

  <ul>
    <li><a href="/pages/managecomics/my_subscriptions">My Subscriptions</a></li>
    <li><a href="/pages/managecomics/publishers">Publishers</a></li>
    <li><a href="/pages/managecomics/types">Product Types</a></li>
    <li><a href="/pages/managecomics/release">Release Dates</a></li>
    <li><a href="/pages/managecomics/foc">Last Call (FOC)</a></li>

    
  </ul>

        
        
        
        


  <ul>
    {% for link in linklists.leftoffcanvas.links %}
      <li>
        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul> 






</div>


{% schema %}
{
  "name": "Off Canvas Left",
  "class": "section-off-canvas-left",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu to Display"
    }
    
  ]
}
{% endschema %}
