a,
a:visited{
  color:white;
  text-decoration:none;
}
a:hover{
  color:var(--fp-yellow);
}

.mc-current-nav{
  color:var(--fp-yellow);
}

.mc-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background:#666;
    border-radius: 5px;
  margin-right:3px;
}

.mc-pagination a.active {
    background-color: var(--fp-yellow)!important;
}
  
/* ----------- Second Logo */
#fp_logo{
	
}

.second_logo{
  margin-bottom:20px;
}

.second_logo a{
	font-size:	clamp(30px, 20vw, 110px);

	line-height:1em;
	text-decoration:none;
	color:white;
  	font-family: 'comic', cursive;
  font-weight:normal;

}

.second_logo a:hover{
  font-weight:normal;
  color:var(--fp-yellow);
}

.neonText {

}


@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
  	color: black;
  text-shadow:

      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
  }
  20%, 24%, 55% { 
  	color:#666;
    text-shadow: none;
  }
}

/* ----------- Titles */
.fp_title{
	letter-spacing:2px;
	font-family: 'comic', cursive;
}

#MainContent{
  margin-top:-60px;
}

.main-page-title{
  display:none;
}

.mc-container{
  max-width:1500px;
}




/* ----------- Structure */


#managecomics-content{
  position:relative;
  padding-top:30px;
}

.mc-row:nth-child(1){
  border-bottom:1px solid white;
  padding-bottom:10px;
}

.mc-page-header{
    display:none;
}

.mc-menu-niccol{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.mc-menu-niccol a{
  display:inline-block;
  margin: 0 10px;
}

@media screen and (max-width: 750px) {

  .mc-menu-niccol{
    display:none;
  }

}

#fp_logo {
    padding-top: 0!important;
}



/* ----------- Home */
.mc-page-header h1{
	letter-spacing:2px;
	font-family: 'comic', cursive!important; 
}

.mc-publisher-box{
  transition: filter 1s;
  border:1px solid white;
  background:black;
  border-radius:5px;
  overflow:hidden;
}


.mc-publisher-box:hover{
  
  filter: invert(100%);
}



/* ----------- MC MODAL */
.mc-modal-content .mc-subscribe-btn{
  font-size:14px!important;
}

.mc-modal-content,
.mc-modal-content h4{
  margin-top:0;
  font-size:16px;
  color:black;
}

.mc-modal-content .mc-fill-with label{
  font-size:10px!important;
  text-transform:uppercase;
}

.mc-modal-content hr{
  display:none;
}

.mc-modal-content p{
  color:black;
}